
<div class="jumbotron">
  <h1>{{company.name}}</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <button class="btn btn-lg btn-danger pull-left" ng-click="company.subtract()" role="button">&#8595;</button>
  <button class="btn btn-lg btn-success" ng-click="company.add()" role="button">&#8593;</button>
  <h1 class="pull-right">{{company.count}}</h1>
</div>

<div class="well" ng-if="company.plus">
    <h3>Editorial</h3>
    <p>{{company.text || '...'}}</p>
    <button class="btn btn-warning pull-right clearfix" ng-click="company.getText(company)" ng-if="!company.text">Get Additional info!</button>
    <hr />
    <h3>Your Notes</h3>
    <p>{{company.notes || 'N/A'}}</p>
</div>

<div class="well" ng-if="company.plus">
  <h4>Record Notes:</h4>
  <textarea class="form-control" ng-model="company.notes"></textarea>
</div>

<button class="btn btn-default" ng-click="company.log()">Log to console</button>
<button  ng-if="company.plus" class="btn btn-default" ng-click="company.saveCompany(company)">Save</button>
<span ng-show="company.saved">Saved!</span>  

