<table class="table table-bordered">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Web Address</th>
      <th>Lat/Long</th>
      <th>CRM Status</th>
      <th>Add to CRM</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="company in companies">
      <td>
        <a ng-show="listPlus" ng-href="#/company/{{company.duns}}">{{company.name}}</a>
        <span ng-hide="listPlus">{{company.name}}</span>
      </td>
      <td>{{company.webAddress}}</td>
      <td><span ng-show="company.address.latitude">{{company.address.latitude}} / {{company.address.longitude}}</span></td>
      <td><span ng-show="company.inCRM">Added</span></td>
      <td>
        <button ng-hide="company.inCRM" class="button" ng-click="company.addToCRM()">+</button>
        <button ng-show="company.inCRM" class="button" ng-click="company.removeFromCRM()">-</button>
      </td>
    </tr>
  </tbody>
</table>
