<div class="modal-header">
    <h5 class="pull-right" ng-hide="!range.isValid || addMethod === 'addSelected'">
      Export
      <span class="help-message">{{range.limit}}</span> records
    </h5>
    <h3 class="modal-title">Export from list</h3>
</div>
<div class="modal-body" ng-include="'rangeSelector.html'"></div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button data-ng-disabled="!range.isValid" ng-click="export()" class="btn btn-primary">Export</button>
</div>
