<div ng-class="{'has-error': !range.isValid}" class="text-center">
  <div class="row">
    <div class="col-md-5">
      <input
        required
        type="number"
        integer
        inputmode="numeric"
        class="form-control"
        ng-model="range.startingIndex"
        id="startingIndex"
        name="startingIndex"
      >
    </div>
    <div class="col-md-2">to</div>
    <div class="col-md-5">
      <input
        required
        type="number"
        integer
        inputmode="numeric"
        class="form-control"
        ng-model="range.endingIndex"
        name="endingIndex"
      />
    </div>
  </div>
</div>
<div class="col-md-12">
  <span ng-show="!range.isValid" class="help-block" style="color: #a94442">{{range.errorMessage}}</span>
</div>
